/* Links */
#footer ul {
  @apply mb-5;
}
#footer ul li {
  @apply inline text-gray-400;
}
#footer ul li:after {
  content: '\00B7';
  margin: 0 0.25em;
}
#footer ul li:last-child:after {
  content: '';
}
#footer ul li a {
  font-size: 11px;
}

/* Copyright */
#footer p {
  @apply text-gray-400 font-semibold uppercase;
  font-size: 11px;
}
