.main-header__desktop {
  @apply hidden md:flex;
}
.main-header__mobile {
  @apply flex md:hidden justify-between;
}

#main-header {
  @apply bg-white py-2 border-b border-gray-200 fixed top-0 left-0 w-full;
}
.main-header__wrapper > div {
  @apply max-w-4xl mx-auto items-center px-5 lg:px-0;
}
.main-header__wrapper > div > div {
  @apply flex-1;
}
.main-header__links {
  @apply flex items-center justify-end;
}
.main-header__link {
  @apply flex items-center ml-5;
}
.main-header__link:first-child {
  @apply ml-0;
}
.main-header__link--profile {
  @apply w-8 h-8 inline-block overflow-hidden rounded-full;
}
.main-header__link--profile img {
  @apply w-full;
}

.main-header__desktop--search {
  @apply flex justify-center;
}
.main-header__search--open {
  @apply flex justify-center w-8/12 relative;
}
.main-header__search--open svg,
.main-header__search--open button {
  @apply absolute text-gray-400;
  top: 50%;
  transform: translateY(-50%);
}
.main-header__search--open input {
  @apply bg-gray-50 text-sm px-7 border border-gray-200 py-0.5 px-3 rounded w-full h-7 focus:outline-none;
}

.main-header__search--close {
  @apply w-8/12 flex justify-center relative select-none cursor-text;
}
.main-header__search--close-wrapper {
  @apply absolute flex items-center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-header__search--close-wrapper svg {
  @apply text-gray-400;
}
.main-header__search--close-wrapper span {
  @apply text-sm ml-1 text-gray-400;
}
.main-header__search--close-background {
  @apply w-full bg-gray-50 border border-gray-200 py-0.5 px-3 rounded w-9/12 h-7;
}

#main-header__mobile--actions {
  @apply fixed bottom-0 left-0 w-full bg-white flex md:hidden items-center justify-between border-t border-gray-200;
}
.main-header__mobile--action {
  @apply flex items-center justify-center inline-block hover:bg-gray-100 w-full h-full py-2;
}
#main-header__mobile--actions img {
  @apply w-6 h-6 items-center rounded-full object-cover;
}
