.Show {
  display: block !important;
  z-index: 101;
}
.Menu {
  display: none;
}
.MenuTriangle {
  z-index: 99;
  width: 15px;
  height: 15px;
  background: #ffffff;
  display: inline-block;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  position: absolute;
  left: 77.5%;
  top: -10px;
  box-shadow: 1px 1px 1px #090707;
}
